@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Styles */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* --------------------- */

body {
  background: #0b121b;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.site-wrap {
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100%;
  transition: grid-template-columns 0.3s ease-in-out;
}

.site-nav {
  background: #0b121b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  overflow-y: hidden;
  transition: transform 0.3s ease-in-out;
}

.site-nav .name {
  font-size: 1.8rem;
  width: 88%;
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}

.site-nav-ul {
  margin-left: -40px;
  width: 88%;
}

a {
  color: inherit;
}

.site-nav-ul {
  margin-left: -40px;
  width: 88%;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 30px;
}

ul li a {
  display: block;
  padding: 0.75rem 0.5rem 0.75rem 2rem;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
}

ul li a:hover,
ul li a:focus {
  background: linear-gradient(to right, #101b2d, transparent);
}

ul li.active > a {
  background: linear-gradient(to right, #101b2d, transparent);
}

ul li.active > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #4676cd;
  width: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.note {
  width: calc(100% - 6rem);
  margin: 2rem;
  background: #171c26;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid white;
  margin: 0px 10px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.note h3 {
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
}

.note img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.56);
}

.site-nav.show {
  transform: translateX(100%);
  left: 0;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1100;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #0b121b;
  border-radius: 4px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  .site-wrap {
    grid-template-columns: unset; /* Collapse the sidebar */
  }

  .site-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.8rem;
  }

  .site-nav.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1100;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #0b121b;
    border-radius: 4px;
  }

  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }

  .note {
    width: 88%;
    margin: 0px 10px 10px 20px;
    padding: 0.5rem;
    margin-top: -20px;
  }

  .note h3 {
    font-size: 1rem;
  }

  .note img {
    width: 35px;
    height: 35px;
  }

  .fine-card {
    width: 100%;
    padding: 10px;
    font-size: 0.5rem;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #405c93,
      #4b6cb7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2d477a,
      #3959a4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .ag-courses-item_date {
    font-size: 3.5rem;
  }

  #logout-pos {
    position: absolute;
    top: 91px;
    right: 11px;
  }

  .responsive-table {
    border: 1px solid black;
  }
}

@media (min-width: 760px) {
  #logout-pos {
    position: absolute;
    top: 17px;
    right: 7px;
  }

  .fine-card {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #405c93,
      #4b6cb7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2d477a,
      #3959a4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

main {
  border-top-left-radius: 2rem;
  background: #ebecee;
  margin-left: -2rem;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
}

main > header {
  padding: 3rem 3rem 0 3rem;
  background-color: #e5e5e7;
}

.nav-tabs a {
  margin-right: 2rem;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.15rem;
  color: #444444;
  position: relative;
  text-decoration: none;
}

.nav-tabs a.active {
  color: #101620;
  font-weight: 600;
}

.nav-tabs a.active span {
  background: #d9dfea;
  color: #5887d1;
}

.nav-tabs a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #457ace;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-tabs a span {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.25rem 0.4rem;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: #dfe0e2;
  color: #868d99;
}

.hidden {
  display: none;
}

.line {
  border: 1px solid black;
  width: 80%;
  height: 0px;
  cursor: pointer;
}

#sub-content {
  width: 100%;
  margin-left: 50px;
  padding-right: 2.5rem;
}

#fines-content {
  width: 100%;
}

.overdue p {
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  width: 80%;
  height: auto;
  z-index: 1;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #1f387e;
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

#fine-card-header {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #0c0c0c;
  width: 450px;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#overdue-arrow,
#tobe-arrow {
  cursor: pointer;
}

/* Fine details popup */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Some basic CSS overrides */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  color: #2d232e;
  /* background-color: #c8c0bd; */
  position: relative;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

/* End basic CSS override */

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.25);
}

.modal-container {
  max-height: 90vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
  @media (max-width: 600px) {
    width: 90%;
  }
}

.modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
  svg {
    width: 32px;
    height: 32px;
    color: #750550;
  }
}

.modal-container-body {
  padding: 24px 32px 51px;
  overflow-y: auto;
  width: 600px;
  height: 700px;
}

.rtf {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5;
  }

  & > * + * {
    margin-top: 1em;
  }

  & > * + :is(h1, h2, h3) {
    margin-top: 2em;
  }

  & > :is(h1, h2, h3) + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    margin-left: 20px;
    list-style-position: inside;
  }

  ol {
    list-style: numeric;
  }

  ul {
    list-style: disc;
  }
}

.modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
    pointer-events: none;
  }
}

.button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;

  &.is-ghost {
    &:hover,
    &:focus {
      background-color: #dfdad7;
    }
  }

  &.is-primary {
    background-color: #750550;
    color: #fff;
    &:hover,
    &:focus {
      background-color: #4a0433;
    }
  }
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
  svg {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    background-color: #dfdad7;
  }
}

.ag-format-container {
  width: 90%;
}

body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 5rem;
  color: #fff;
  z-index: 2;
  position: relative;
  /* border: 5px solid rgb(190, 190, 190); */
  border-radius: 10px;
  text-align: center;
  margin-top: -40px;
}
.weekly-overview {
  min-height: 87px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.weekly-overview-text-box {
  font-size: 5rem;
  color: #fff;
  z-index: 2;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-top: -40px;
  padding-bottom: 20px;
}

/* --------------------- */
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #952aff;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e43e02;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* Notification */

.notification-container {
  background-color: #13132a;
  width: 60%;
  height: 500px;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  overflow: scroll;
}

.notification-body {
  margin-bottom: 5px;
}

.notification-container::-webkit-scrollbar {
  display: none;
}

.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}

.notification-header label {
  color: #dfdfdf;
  margin-left: 10px;
  font-weight: bold;
}

.my-moon {
  width: 120px;
  height: 120px;
  background-color: #ffffff55;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.04),
    0 0 0 20px rgba(255, 255, 255, 0.04), 0 0 0 30px rgba(255, 255, 255, 0.04),
    0 0 50px 50px rgba(255, 255, 255, 0.02),
    0 0 100px 100px rgba(255, 255, 255, 0.02);
  animation: moon-moving 30s both infinite;
}
.notification-box {
  position: absolute;
  z-index: 99;
  text-align: center;
  top: 10px;
  right: 13px;
}
.notification-bell {
  animation: bell 1s 1s both infinite;
}
.notification-bell * {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px #fff;
}
.bell-top {
  width: 6px;
  height: 6px;
  border-radius: 3px 3px 0 0;
}
.bell-middle {
  width: 15px;
  height: 15px;
  margin-top: -1px;
  border-radius: 12.5px 12.5px 0 0;
}
.bell-bottom {
  position: relative;
  z-index: 0;
  width: 20px;
  height: 2px;
}
.bell-bottom::before,
.bell-bottom::after {
  content: "";
  position: absolute;
  top: -4px;
}
.bell-bottom::before {
  left: 1px;
  border-bottom: 4px solid #fff;
  border-right: 0 solid transparent;
  border-left: 4px solid transparent;
}
.bell-bottom::after {
  right: 1px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 0 solid transparent;
}
.bell-rad {
  width: 8px;
  height: 4px;
  margin-top: 2px;
  border-radius: 0 0 4px 4px;
  animation: rad 1s 2s both infinite;
}
.notification-count {
  position: absolute;
  z-index: 1;
  top: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;
  animation: zoom 3s 3s both infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes bell {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rad {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moon-moving {
  0% {
    transform: translate(-200%, 600%);
  }
  100% {
    transform: translate(800%, -200%);
  }
}

.notification-body {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #27374e;
  width: 96%;
  border-radius: 5px;
}

.n-head {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: bold;
  width: 30%;
}

.n-body {
  color: #b7b7b7;
  font-size: 0.8rem;
  margin-left: 10px;
  width: 70%;
}

.recent-fines-container {
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.recent-fines-container .header {
  color: #070707;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #121212;
  width: 90%;
}

.recent-fine-card {
  width: 100%;
  margin-bottom: 10px;
}

#show-details {
  border: none;
}

.fine-main-cont {
  position: relative;
}

.thead label,
.fine-card label {
  flex: 1;
  text-align: center;
}

.fine-card button {
  flex: 1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.fine-card button:active {
  transform: scale(0.95);
  transition: ease-in-out 0.2s;
}

.thead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.thead label {
  margin-top: 10px;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    -67deg,
    rgba(#c8d8e7, 0.7),
    rgba(255, 255, 255, 0.8)
  );
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;
  width: 380px;
  width: 90%;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;

  svg {
    transform: translate(-1px, -1px);
  }
}

.CardInner label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66bc;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
}

.InputContainer {
  width: 100%;
}

.CardInner .InputContainer input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  transition: all 240ms ease-out;
  width: 100%;

  &::placeholder {
    color: #6d7f8f;
  }

  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);

  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:before {
    box-shadow: var(--bottom-shadow);
  }

  &:after {
    box-shadow: var(--top-shadow);
  }
}

@media (max-width: 662px) {
  .fine-details-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 663px) {
  .fine-details-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.nft {
  position: relative;
  user-select: none;
  width: 300px;
  height: 300px;
  margin: 2rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins {
    font-size: 16px;
    text-decoration: none;
  }
  .main h2 {
    font-size: 24px;
    color: #e1e1e1;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .mainscroll {
      width: 115%;
      height: 180px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mainscroll::-webkit-scrollbar {
      display: none;
    }
    .description {
      margin: 0.5rem 0;
      color: #a89ec9;
      font-size: 16px;
    }
    .tokenInfo {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        font-size: 16px;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
      .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
        ins {
          margin: 0.5rem;
          margin-bottom: 0.4rem;
        }
      }
    }
    .creator {
      position: fixed;
      bottom: 5px;
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: 10px;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 20rem;
    filter: opacity(0.5);
  }
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search-bar-fine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-fine form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.search-bar-fine form input,
.search-bar-fine form button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
.search-bar-fine form input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-bar-fine form button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.search-bar-fine form input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
.search-bar-fine form label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 1224px) {
  .form-noti {
    flex-direction: column;
    width: 97%;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 92%;
    overflow: scroll;
    position: relative;
  }

  .notification-container {
    width: 92%;
  }
}

.form-noti {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 1224px) {
  .form-noti .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 30%;
    overflow: scroll;
    position: relative;
  }
}

.form::-webkit-scrollbar {
  display: none;
}

.form-noti .form .title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.form-noti .form .subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.form-noti .form .input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.form-noti .form .input-container.ic1 {
  margin-top: 40px;
}

.form-noti .form .input-container.ic2 {
  margin-top: 30px;
}

.form-noti .form .input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 0.9rem;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.form-noti .form .cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 83px;
}

.form-noti .form .cut.cut-short {
  width: 50px;
}

.form-noti .form .input:focus ~ .cut,
.form-noti .form .input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.form-noti .form .placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.form-noti .form .input:focus ~ .placeholder,
.form-noti .form .input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.form-noti .form .input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.form-noti .form .input:focus ~ .placeholder {
  color: #dc2f55;
}

.form-noti .form .submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  width: 86%;
  bottom: 10px;
  text-transform: uppercase;
}

.form-noti .form .submit:active {
  background-color: #06b;
}

#add-fines-container {
  margin-top: 20px;
}

#add-fines {
  height: 180px;
  overflow-y: scroll;
  padding-top: 10px;
}

#suggestions {
  border-radius: 10px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  top: 130px;
  width: 100%;
}
#suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#suggestions li {
  padding: 8px;
  cursor: pointer;
}
#suggestions li:hover {
  background-color: #c4c4c4;
  border-radius: 10px 10px 0px 0px;
}

/* Popup form container */
#popup-form {
  display: none;
}
.popup-form {
  position: fixed;
  z-index: 1000; /* High z-index to ensure it's on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  display: flex; /* Enable flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Popup form content */
.popup-form-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  width: 90%;
  max-width: 500px; /* Maximum width */
}

/* Close button */
.close-popup {
  color: #333;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-popup:hover,
.close-popup:focus {
  color: #ff0000; /* Red color on hover */
  text-decoration: none;
}

/* Popup header */
.popup-form-content h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
}

/* Form styling */
#add-license-form {
  display: flex;
  flex-direction: column;
}

#add-license-form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #666;
}

#add-license-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

#add-license-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-license-form button:hover,
#add-license-form button:focus {
  background-color: #0056b3; /* Darker blue */
}

.penalty-sheet-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  width: 400px;
}

.penalty-sheet-popup-content {
  position: relative;
}

.close-penalty-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#penalty-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#penalty-details table,
#penalty-details th,
#penalty-details td {
  border: 1px solid #ddd;
}

#penalty-details th,
#penalty-details td {
  padding: 8px;
  text-align: left;
}

#penalty-details th {
  background-color: #f2f2f2;
}

#print-penalty-sheet {
  margin-top: 15px;
  padding: 8px 16px;
  cursor: pointer;
}

/* Darkened background overlay */
.penalty-sheet-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it is above other content */
  visibility: hidden; /* Hidden by default */
}

/* Popup container */
.penalty-sheet-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Set a max width for larger screens */
  background-color: #fff; /* White background */
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
  z-index: 1000; /* Above overlay */
  display: none; /* Hidden by default */
}

/* Popup header */
.penalty-sheet-popup-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* Fine details table */
.penalty-sheet-popup table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.penalty-sheet-popup table,
.penalty-sheet-popup th,
.penalty-sheet-popup td {
  border: 1px solid #ddd;
}

.penalty-sheet-popup th,
.penalty-sheet-popup td {
  padding: 10px;
  text-align: left;
}

.penalty-sheet-popup th {
  background-color: #f4f4f4;
}

/* Print button */
.penalty-sheet-popup .print-button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto; /* Center the button */
  transition: background-color 0.3s ease;
}

.penalty-sheet-popup .print-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Close button */
.penalty-sheet-popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.penalty-sheet-popup-close:hover {
  color: #000;
}

#no-search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#no-search-results label {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
  color: #000000bb;
}

#no-search-results div {
  border-radius: 10px;
  width: 30%;
  height: 300px;
  background-image: url("../src/nothing_found.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#go-profile {
  cursor: pointer;
}
